
body{
overflow-x:hidden;
background-color:#dbd394;
margin:0px;
}
table{
table-layout: fixed;
color:rgb(9, 40, 165);
}
.buttom{
	width: 40px;
	height: 40px;
	background-image:url(../img/arrow.png);	
	background-position:-300px -350px;		
	
}


div{
	  display: -webkit-box;
  display: box;
}
#textTitle{
color:#006600;
font-size:20pt;
	white-space:nowrap;
}
#firstCol{
	white-space:nowrap;
}
#list{
	white-space:nowrap;
}